<head>
  <%= stylesheet_link_tag 'posts' %>
</head>
<div class="container ">
  <div class="d-flex flex-column align-items-center">
    <div class="card blue">
      <div class="card-body">
        <h1 class="card-title text-center">New Post</h1>

        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>

