<script>document.addEventListener('DOMContentLoaded', function () {
    // Attach an event listener to the form submit button
    var newPostForm = document.getElementById('new-post-form');
    newPostForm.addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        // Serialize form data
        var formData = new FormData(newPostForm);

        // Make an AJAX request
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '<%= topic_posts_path(@topic) %>', true);
        xhr.setRequestHeader('X-CSRF-Token', Rails.csrfToken());
        xhr.onload = function () {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                var newPostHtml = response.html;

                // Append the new post HTML to the list of posts
                var postList = document.getElementById('post-list');
                postList.insertAdjacentHTML('afterbegin', newPostHtml);

                // Clear the form after successful submission
                newPostForm.reset();
                document.getElementById('image-preview').innerHTML = '';
            } else {
                alert('Error creating post');
            }
        };
        xhr.send(formData);
    });
});
</script>
<h1>New Post</h1>

<%= render  'form', post: @post %>

<%#= link_to 'Back', topic_posts_path(@topic) %>
