// Place all the styles related to the topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #3498db; /* Change to your desired button color */
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9; /* Change to your desired button color on hover */
}
.small-text-field {
  width: 250px; /* Adjust the width as needed */
}
.blue {
   background-color: #f0f8fa; /* Adjust the color code as needed */
 }